<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>it's me!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#" class="main-button">Kenz Abdelkebir</a>
                    <li><a href="#home" class="github-button">Home</a ></li>
                    <li><a href="#about" class="github-button">About</a></li>
                    <li><a href="#projects" class="github-button">Projects</a></li>
                    <a href="https://github.com/afkenDev" target="_blank" class="github-button" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#fff" d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.207 11.387.6.11.793-.26.793-.577 0-.285-.01-1.04-.015-2.04-3.338.727-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.746.083-.73.083-.73 1.204.085 1.836 1.235 1.836 1.235 1.07 1.833 2.806 1.303 3.492.996.108-.776.42-1.303.763-1.603-2.665-.304-5.466-1.334-5.466-5.93 0-1.31.468-2.382 1.235-3.222-.124-.304-.536-1.527.117-3.18 0 0 1.008-.322 3.3 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.046.138 3.003.404 2.29-1.553 3.297-1.23 3.297-1.23.655 1.653.243 2.876.12 3.18.77.84 1.233 1.912 1.233 3.222 0 4.61-2.805 5.624-5.475 5.92.43.373.823 1.103.823 2.222 0 1.606-.015 2.898-.015 3.293 0 .32.19.693.8.575C20.565 21.796 24 17.297 24 12c0-6.63-5.37-12-12-12z"/>
                        </svg>
                    </a> 
                </ul>
                           
            </nav>
        </header>
    
        <section id="home" class="section">
            <div class="content">
                <h1>Willkommen zu  Portfolio</h1>
                <p>Ich bin ein IMS-Praktikant mit einer Leidenschaft für Technologie und Design.</p>
            </div>
        </section>
    
        <section id="about" class="section">
            <div class="content">
                <h2>Über mich</h2>
                <p>Ich bin ein motivierter und engagierter Praktikant mit einem Hintergrund in Informationstechnologie und Mediengestaltung. Ich strebe danach, innovative und benutzerfreundliche Lösungen zu entwickeln.</p>
            </div>
        </section>
    
        <section id="projects" class="section">
            <div class="content">
                <h2>Projekte</h2>
                <div class="slideshow-container">
                    <div class="project-item fade">
                        <h3>Projekt 1</h3>
                        <p>Beschreibung des ersten Projekts.</p>
                    </div>
                    <div class="project-item fade">
                        <h3>Projekt 2</h3>
                        <p>Beschreibung des zweiten Projekts.</p>
                    </div>
                    <div class="project-item fade">
                        <h3>Projekt 3</h3>
                        <p>Beschreibung des dritten Projekts.</p>
                    </div>
                </div>
                <div class="dots-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
        </section>
        
    
        <footer>
            <p>&copy; 2024 IMS Praktikanten Portfolio</p>
        </footer>
        
        <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}" async defer></script>
    </body>
</html>